In [1]:
import pandas as pd

In [2]:
sf_data = pd.read_csv('USGS-02336728.csv')
sf_data_temp = pd.read_csv('USGS-333989084361501.csv')
sf_data

,ActivityStartDate,CharacteristicName,ResultSampleFractionText,ResultMeasureValue,ResultMeasure/MeasureUnitCode,StatisticalBaseCode,MonitoringLocationIdentifier,LongitudeMeasure,LatitudeMeasure
0,2010-01-21,Number of sampling points,NaN,1.00000,count,NaN,USGS-02336728,-84.34054,33.44367
1,2010-01-21,Specific conductance,Total,84.00000,uS/cm @25C,NaN,USGS-02336728,-84.34054,33.44367
2,2010-01-21,"Acidity, (H+)",Total,0.00014,mg/l,NaN,USGS-02336728,-84.34054,33.44367
3,2010-01-21,pH,Total,6.90000,std units,NaN,USGS-02336728,-84.34054,33.44367
4,2010-01-21,Carbon dioxide,Total,5.70000,mg/l,NaN,USGS-02336728,-84.34054,33.44367
...,...,...,...,...,...,...,...,...,...
349,2010-01-17,Turbidity,Total,69.00000,FNU,NaN,USGS-02336728,-84.34054,33.44367
350,2010-01-17,Suspended Sediment Concentration (SSC),Suspended,99.00000,%,NaN,USGS-02336728,-84.34054,33.44367
351,2010-01-17,Nitrate,Dissolved,2.29000,mg/l asNO3,NaN,USGS-02336728,-84.34054,33.44367
352,2010-01-17,"Stream flow, mean, storm event",NaN,80.00000,ft3/s,Mean,USGS-02336728,-84.34054,33.44367
353,2010-01-17,Suspended Sediment Concentration (SSC),Suspended,101.00000,mg/l,NaN,USGS-02336728,-84.34054,33.44367

In [3]:
sf_data_temp

,ActivityStartDate,CharacteristicName,ResultSampleFractionText,ResultMeasureValue,ResultMeasure/MeasureUnitCode,StatisticalBaseCode,MonitoringLocationIdentifier,LongitudeMeasure,LatitudeMeasure
0,2012-09-10,"Temperature, water",NaN,20.40000,deg C,NaN,USGS-333989084361501,-84.3615,33.3989
1,2012-09-10,"Stream flow, instantaneous",NaN,0.04000,ft3/s,NaN,USGS-333989084361501,-84.3615,33.3989
2,2012-09-10,Specific conductance,Total,104.00000,uS/cm @25C,NaN,USGS-333989084361501,-84.3615,33.3989
3,2012-09-10,"Acidity, (H+)",Total,0.00124,mg/l,NaN,USGS-333989084361501,-84.3615,33.3989
4,2012-09-10,Oxygen,Dissolved,6.00000,mg/l,NaN,USGS-333989084361501,-84.3615,33.3989
5,2012-09-10,pH,Total,5.90000,std units,NaN,USGS-333989084361501,-84.3615,33.3989
6,2012-09-10,"Stream flow, instantaneous",NaN,0.00000,m3/sec,NaN,USGS-333989084361501,-84.3615,33.3989